/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
   -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 {
  font-style: italic;
  color: #373fff;
}

h2 {
    color: #373fD0;

}

#userAgent {
  font-size:10px;
  font-style:italic;
}